<!DOCTYPE html>
<html>
<head>
  <title>doganam</title>

  <!-- Font Awesome -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  <!-- MDB -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
    rel="stylesheet"
  />
  

</head>
<body>
  <style>

  html,
  body,
  header,
  .view {
    height: 100%;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 100vh;
      margin: 0;
      padding: 0;
    }
  }

  .top-nav-collapse {
    background-color: #fff !important;
  }

  .navbar:not(.top-nav-collapse) {
    
  }

  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
   }
  }
  
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }
  .img-fluid{
    margin-top: 7%;
  
  }
  .ikl{
    height: 60px;

  }
  .second{
    margin-left: 65px;
  }
</style>

  <!-- Main navigation -->
  <header>
    <!--Navbar-->
    <div>
      <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light scrolling-navbar ikl">
      <div class="container">
        <div class="first col-sm-3">
          <a class="navbar-brand" href="#"><span><img src="images/logo.png" width="80" alt="aide"/></span></a>
        </div>
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        role="button"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation" >
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="col-sm-4">
              <a class="btn btn-warning" href="/login" style="color:black; font-family:lato;"> <h5>Emprunter</h5></a>
            </div> 
            <div class="col-sm-2">
              <a class="btn btn-light" href="/listedemandepret" style=" color: black; font-family:lato; height: px;"> <h5>Prêter</h5> </a>
            </div>
            <div style="height:20px" class="col-sm-1">
              
            </div>           
            <div class="col-sm-2">
              <a class="btn btn-dark" href="/listenoire">Liste noire</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-light" href="/histopretsaccordes">Historique</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-warning" href="/createcompte">Créer un compte</a>
            </div>
        </div>
      </div>
    </nav>
    </div>
   
    <!-- Navbar -->
    <!-- Full Page Intro -->
      <!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="images/doganam1.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="images/doganam2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="images/doganam3.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="images/doganam4.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
  <br>
  <br>
  <div>
      <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
  <section  id="comment">
  <div class="container">

    <strong><h1>Description de Doganam</h1></strong>
    <p>Doganam est une plateforme d’entraide communautaire. Dans nos communautés, nous avons des besoins financiers, que nous avons peine à gérer. C’est dans cette optique que nous vous avons mis en place une plateforme sure et sécurisée qui permettra d’emprunter facilement en conformité avec des règles qui régissent le remboursement et de pouvoir prêter tout en bénéficiant des intérêts de vos prêts.</p><br> <br>



    <strong><h2>Comment ça marche ?</h2></strong>
    <div class="service_area">
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12">
          <p style="text-align: center;">
            Doganam est une plateforme d'aide dans la mesure où vous pouvez solliciter une aide en cas de besoin urgent 
            du montant que vous voulez et le rendre dans un délai bien déterminé soit 7jours avec un taux de 10% ou 14jours 
            avec un taux de 15%.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="service_block">
            <div class="service_icon"> <span><img src="images/inscription.jpg" width="90" alt="Signup" /></span> </div>
            <h3 style="color: black; ">Créer un Compte</h3></h3>
            <p>Pour créer un compte sur Doganam vous devez cliquer sur le lien <strong>Créer un compte</strong>
            et remplissez le formulaire.
            juste en bas du formulaire vous devez ajouter deux photos claires. Sur Doganam
            nous exigeons soit la Carte d'identité Nationale ou la Carte d'électeur.
            Ensuite ajouter une deuxième photo de vous tenant votre carte dans la main</br>
            <strong>NB: Nous précisons toujours une photo claire car au cas où la photo n'est pas claire votre compte sera invalidé
            et vous ne pouvez plus recevoir d'aide de prêt.</strong>
            </p>
          </div>
        </div>
         <div class="col-lg-6">
          <div class="service_block">
            <div class="service_icon"> <span><img src="images/emprunt.jpg" width="90" alt="aide" /></span> </div>
            <h3 style="color: black; ">Demander un prêt</h3>
            <p>Pour faire un prêt sur Doganam, vous devez vous connecter à votre compte que vous avez crée préalablement.
            Une fois connecté vous serez redirigé sur une page de suivie et sur cette page vous verrez un bouton <strong>Solliciter un prêt</strong>
            cliquer sur ce bouton et remplissez le formulaire puis soumettez.
            Après soumission, vous ne pouvez plus solliciter une aide jusqu'à ce que les demandes que vous aviez 
            faites soient expirées ou remboursées si un prêteur s'est manifesté pour vous.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service_block">
            <div class="service_icon"> <span><img src="images/remboursement.jpg" width="90" alt="rembourser" /></span> </div>
            <h3 style="color:black;">Rembourser un prêt</h3>
            <p>
            Pour rembourser un prêt, vous devez vous connecter à votre compte. Une fois connecté vous serez redirigé vers 
            la page suivre l'évolution de ma demande et sur cette page vous verrez un bouton <strong>Rembourser</strong>, Cliquer sur ce bouton
            et vous pouvez facilement payer.
            Vous pouvez rembourser avant les 7 ou 14jours 
            </p>
          </div>
        </div>
         <div class="col-lg-6">
          <div class="service_block">
            <div class="service_icon"> <span><img src="images/emprunt.jpg" width="90" alt="aide" /></span> </div>
            <h3 style="color: black; ">Prêter de l'argent à un emprunteur</h3>
            <p>Pour prêter de l'argent à un emprunteur sur Doganam, sur la page d'accueil vous  
             verrez un bouton <strong>Prêter</strong>
            Cliquer sur ce bouton et vous verrez une page sur laquelle la liste des emprunteurs sera affichée et à la fin dans la dernière colonne du tableau il y a un bouton <strong>ACCEPTER</strong> . Appuyer sur ce bouton et faire un prêt pour aider une personne dans le besoin
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div> 
  <footer class="bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="">Doganam Dev</a>
  </div>
  <!-- Copyright -->
  </div>
  </header>
  

</footer>
</BODY>
</HTML>