<style>
    
    .modal-header{
        background: silver;
    }

</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
        
<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Avertissement</h5>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Vous êtes sur le point d'envoyer une requête de demande d'aide sur la plateforme Doganam</strong></p>
                <p>J'accepte envoyer une demande d'aide sur cette plateforme avec remboursement avec interêt et à defaut de remboursement dans un delai précis les données séront publiées dans la liste noire et sur les reseau sociaux comme Facebook et WhatsApp.</p>
            </div>
            <div class="modal-footer">
                 <a href="/histopretssollicites" class="btn btn-danger">Annuler</a>

                <a href="/demandepretsvalider" class="btn btn-primary">Valider</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>